<form action="TryLogin">
    <h2>Login</h2>
    <p>User Name: <input type="text" name="UserName"/></p>
    <p>Pasword:<input type="password" name="Password"/></p>
    <input type="submit"/>
</form>

<form action="CreateUser" method="post">
    <h2>Register a New User</h2>
    <p>User Name: <input type="text" name="UserName" /></p>
    <p>Pasword:<input type="password" name="Password" /></p>
    <p>Retype Pasword:<input type="password" /></p>
    <input type="submit" />
</form>