<h2>Registration Page</h2>

<form method="get" action="Result">
    <p>First Name: </p><input name="firstName" value="Tommy" />
    <br />
    <p>Email: </p><input name="email" type="email" value="tommy@email.com"/>
    <br />
    <p>Password: </p><input name="password" type="password" value="superSecretGoodPassword!1"/>
    <input type="submit" />
</form>