@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<form method="get" action="Success">
    <p>Make</p>
    <input name="Make" />
    <p>Color</p>
    <input name="Color" />

    <p>Miles</p>
    <input name="Miles" />

    <p>IsUsed</p>
    <input name="IsUsed" />

    <input type="submit"/>
</form>
